<body>
    <div class="container">
<!-- Technical Skills Section -->
        <table>
            <tr>
                <td>
                    <h2 class="sec-label">Technical Skills</h2>
                </td>
                <td>
                    <h3></h3>
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>Javascript</li>
                        <li>jQuery</li>
                        <li>PHP</li>
                        <li>MySQL</li>
                    </ul>
                </td>
                <td>
                    <h3></h3>
                    <ul>
                        <li>Git/Github</li>
                        <li>SASS/SCSS</li>
            <li>Wordpress</li>
                        <li>Bootstrap</li>
                        <li>CSS Grid</li>
                        <li>Photoshop</li>
                    </ul>
                </td>
                <td>
                    <h3></h3>
                    <ul>
                        <li>MS Word</li>
            <li>MS Excel</li>
                        <li>MS Outlook</li>
                        <li>MS PowerPoint</li>
                        <li>MS Access</li>
                        <li>Outlook</li>
                    </ul>
                </td>
            </tr>

        </table>
    <hr class="section-break">
    <!-- Objective Section -->
        <table>
            <tr>
                <td>
                    <h2 class="sec-label">Objective</h2>
                </td>
                <td class="content">
                    <p>Proactive and self-motivated individual desiring to transfer over 7 years of professional experience into a new and exciting career in full-stack web development. If you are looking for a quick learner, good communicator, and natrual leader then look no further.</p>
                </td>
            </tr>
        </table>
    <hr class="section-break">
    <!-- Education Section -->
        <table>
            <tr>
                <td class="edu">
                    <h2 class="sec-label">Education</h2>
                </td>
                <td class="content-education">
                    <h3>School</h3>
                    <p>Classes</p>
                    <p>Achievements</p>
                </td>
                <td class="location">
                    <h3>Birmingham, AL</h3>
                </td>
            </tr>
    </table>
    <hr class="section-break">
    <!-- Work Experience Section -->
    <table>
            <tr>
                <td>
                    <h2 class="sec-label">Work Experience</h2>
                </td>
                <td class="content">
                    <h3>09/2015 - Present &nbsp; &nbsp;<span><strong>Carr Allison Medicare Compliance Group</strong></span></h3>
        <h3>Medicare Set-Aside Allocation Specialist</h3>
                    <ul>
                        <li>Analyzed claimant medical case files for allocation reports utilizing MS Access, Excel, Word, and various web-based applications.</li> 
            <li>Acted as a liaison between clients and in-house staff to analyze needs and requests of clients.</li>  
            <li>Gathered Medicare guidelines and requirements in order to provide Medicare compliant advice on expected future treatment needs.</li>
            <li>Performed cost analysis of prior treatment and created cost estimates for Medicare set-asides using Medicare and state fee schedules</li>
            <li>Performed quality checks of Medicare Set-Aside drafts before delivering to clients.</li>
            <li>Met departmental goals by properly prioritizing and delegating tasks to team members in order to ensure timely completion of case files.</li>
                    </ul>
                </td>
                <td class="location">
                    <h3>Vestavia, AL</h3>
                </td>
            </tr>
        </table>
    </div>
</body>